/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: darkslategray;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

header .logo {
    float: left;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: aqua;
    flex: 1 0 auto;
    margin-top: 47px;
}

footer {
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: #3a3a3a solid 1px;
}

@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        margin-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}