/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: darkslategray;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hidden-heading {
    display: none;
}

#cover-text {
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30%;
    width: 80%;
    min-height: 2;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #fff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

header .logo {
    float: left;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: inherit;
}

main {
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center/cover;
}

footer {
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: #3a3a3a solid 1px;
}

#social-networks {
    text-align: center;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#reasons {
    margin: auto;
    max-width: 90%;
}

#reasons>h2 {
    font-size: 280%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#benefits-physical p,
#benefits-mental p {
    padding: 0 20px;

}


#benefits-physical div,
#benefits-mental div {
    line-height: 20px;
    margin-bottom: 20px;
}



#reasons hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url(../images/reasons-image.webp) no-repeat center center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;

}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;

}

#meetups {
    margin-bottom: 60px;
}


#times {
    background: url(../images/dublin-city.webp) no-repeat center/cover;
    flex-wrap: wrap;
    display: flex;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#times h3 {
    color: #fafafa;
}

@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        margin-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: Column;
        width: 100%;
    }

    #benefits-physical>div,
    #benefits-mental>div {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

}

@media screen and (min-width: 992px) {

    #menu>li:hover {
        border-bottom: #3a3a3a solid 1px;
    }
}

@media screen and (min-width: 1200px) {


    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #benefits-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental>div {
        align-self: flex-start;
    }

    #benefits-physical>div {
        align-self: flex-end;
    }


}